# Este arquivo é só para rodar o app LOCALMENTE.
# Cadastrar as chaves no Streamlit Community Cloud
# "Settings -> Secrets"

db_name = "nome_banco"
user = "postgres"
pass = "sua_senha_aqui"
host = "seu_host_aqui"
port = "0000"
